In [15]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [16]:
data = pd.read_csv("loan.csv")

In [17]:
data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500,36 months,13.56,84.92,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000,60 months,18.94,777.23,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000,36 months,18.94,146.51,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000,60 months,16.14,731.78,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
data.shape

(20000, 142)

In [19]:
data.dtypes

id                       float64
member_id                float64
loan_amnt                  int64
funded_amnt                int64
funded_amnt_inv            int64
                          ...
settlement_status        float64
settlement_date          float64
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 142, dtype: object

In [20]:
data['loan_amnt']

0         2500
1        30000
2         5000
3         4000
4        30000
         ...
19995    16000
19996    10000
19997     3625
19998    24000
19999    24000
Name: loan_amnt, Length: 20000, dtype: int64

In [21]:
#provides descriptive statistics of the column
data['loan_amnt'].describe

<bound method NDFrame.describe of 0         2500
1        30000
2         5000
3         4000
4        30000
         ...
19995    16000
19996    10000
19997     3625
19998    24000
19999    24000
Name: loan_amnt, Length: 20000, dtype: int64>

In [22]:
data = data.drop(['zip_code',  'policy_code',  'application_type',  'last_credit_pull_d', 
'verification_status', 'pymnt_plan', 'funded_amnt_inv', 'sub_grade', 'out_prncp', 
'out_prncp_inv', 'total_pymnt_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 
'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 
'last_pymnt_amnt', 'initial_list_status'], axis =1)

In [23]:
data['emp_title'].fillna('Unknown',inplace = True) 
data['dti'].fillna(0,inplace=True) 
data['revol_util'].fillna(data['revol_util'].mean(),inplace = True)